.blue_line_separator {
    border-bottom: 5px solid #1f79c7;
    width: 100%;
    margin-bottom: 10vh;
}

.underlined-link {
    text-decoration: underline;
}


@media only screen and (max-width: 992px) {
    .blue_line_separator {
        margin-top: 5vh;
    }
}